<section class="contenedor">
    <div class="contenedor__imagenes">
        <div class="imagen__principal">
            <img src="../../../assets/images/image-product-1.jpg" alt="">
        </div>
        <div class="imagen__thumbail">
            <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="">
            <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="">
            <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="">
            <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="">
        </div>
    </div>
    <div class="contenedor__datos">
        <h3 class="dato__marca">SNEAKER COMPANY</h3>
        <h1 class="dato__titulo">Fall Limited Edition Sneakers</h1>
        <p class="dato__descripcion">These low-profile sneakers are your perfect casual wear companion. Featurion
            a durable rubber outer sole, they'll withstand everything the weather can offer.
        </p>
        <div class="contenedor__precio">
            <p class="precio__precio">$125.00</p>
            <p class="precio__descuento__porcenteje">50%</p>
        </div>
        <p class="precio__descuento__monto">$250.00</p>
        <div class="contenedor__botones">
            <div class="botones__cantidad">
                <button class="boton__menos">-</button>
                <p class="boton__cantidad">0</p>
                <button class="boton__mas">+</button>
            </div>
            <button class="boton__agregar">Add to cart</button>
        </div>
    </div>
</section>
