<nav class="contenedor">
    <div class="contenedor__nav">
        <h1 class="contenedor__nav__titulo">sneakers</h1>
        <ul class="contenedor__nav__links">
            <li class="link"><a href="">Collections</a></li>
            <li class="link"><a href="">Men</a></li>
            <li class="link"><a href="">Women</a></li>
            <li class="link"><a href="">About</a></li>
            <li class="link"><a href="">Contact</a></li>
        </ul>
    </div>
    <div class="contenedor__perfil">
        <button class="perfil__button"></button>
        <img class="perfil__img" src="../../../assets/images/image-avatar.png" alt="">
    </div>
</nav>
