.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2.5px solid rgba(204, 204, 204, 0.342);
    width: 80vw;
}
.contenedor__nav{
    display: flex;
    align-items: center;
}
.contenedor__nav__titulo{
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}
.contenedor__nav__links{
    display: flex;
    list-style: none;
}
.link{
    align-items: center;
    margin-left: 1.9rem;
    font-weight: 500;
}
.link a{
    display: flex;
    align-items: center;
    height: 5.4rem;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
}
.link a:hover{
    border-bottom: 3px solid hsl(26, 100%, 55%);
    color: hsl(220, 13%, 13%);
}
.contenedor__perfil{
    display: flex;
    align-items: center;
}
.perfil__button{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../../assets/images/icon-cart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
    margin-right: 2rem;
}
.perfil__img{
    width: 3.2rem;
    height: 3.2rem;
    border: 3px solid orange;
    border-radius: 100%;
}